APP_NAME="Portal Elrond"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Sao_Paulo
APP_URL=http://localhost

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

# Se usar Docker/Sail, o DB_HOST deve ser: mysql
# Se usar Laragon/Local, o DB_HOST deve ser: 127.0.0.1
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=elrond_portal
DB_USERNAME=sail
DB_PASSWORD=password

# Drivers de Sessão e Cache
SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database

# Configurações de Fila (Queues)
# Importante: No teste, lembre de rodar php artisan queue:work
QUEUE_CONNECTION=database

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@elrond.com"
MAIL_FROM_NAME="${APP_NAME}"

# --- REVERB & WEBSOCKETS ---
BROADCAST_CONNECTION=reverb

REVERB_APP_ID=419465
REVERB_APP_KEY=zoz8grzqo6vqxflddpba
REVERB_APP_SECRET=ggo1cfxaxxdcvbdr0xma
# Para Docker use 'laravel.test' ou '0.0.0.0'. Para Local use 'localhost'
REVERB_HOST="0.0.0.0"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

# --- DOCUMENTAÇÃO ---
L5_SWAGGER_GENERATE_ALWAYS=true